<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}

	In the first form, enter a list of integers seperated by a newline character. <br>
	In the second form, enter another two integers. <br>
 	If this multiplaction lower than summation of list then result is becomes true. <br><br>


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>
